
@{
    ViewData["Title"] = "StudentView";
}

<h1>StudentView</h1>
<div>
    <table align="center">
        <tr>
            <th>
                <label>Name</label>
            </th>
            <th>
                <input type="text" name="name" />
            </th>
        </tr>
        <tr>
            <th>
                <label>NRC</label>
            </th>
            <th>
                <input type="text" name="nrc" />
            </th>
        </tr>
        <tr>
            <th>
                <label>Email</label>
            </th>
            <th>
                <input type="text" name="email" />
            </th>
        </tr>
        <tr>
            <th>
                <label>Major</label>
            </th>
            <th>
                <input type="text" name="major" />
            </th>
        </tr>
        <tr>
            <th>
                <label>Dob</label>
            </th>
            <th>
                <input type="text" name="dob" />
            </th>
        </tr>
    </table>
    <input type="submit" value="Submit" onclick="myFun()"/>
</div>
<script>
    function myFun() {
        
    }
</script>

